Harry_Potter/config.py
logfile
Harry_Potter.session
Harry_Potter.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
Harry_Potter.mp3
gpic.png
