priscia/config.py
logfile
priscia.session
priscia.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
priscia.mp3
gpic.png
