Elizabeth/config.py
logfile
Elizabeth.session
Elizabeth.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
Elizabeth.mp3
gpic.png
