geopy
future
emoji
requests
Telethon==1.16.4
sqlalchemy
pylast
python-telegram-bot==12.8
ffmpeg
pySmartDL
youtube-search-python
psycopg2-binary
pythonping
pybase64
feedparser
html2text
spotdl
validators
pickledb
redis
pytz
pafy
gtts
bs4
lxml
demjson
wget
bs4
telegraph
pillow
psutil
speedtest-cli>=2.0.2
hachoir
googletrans
youtube-dl
wikipedia
spamwatch
bleach
git+https://github.com/p-rinc-e/python-markdown2.git
alphabet_detector
tswift
covid
hurry.filesize
fontTools
bing_image_downloader
instantmusic
