geopy
future
emoji
requests
Telethon==1.16.4
sqlalchemy
python-telegram-bot==12.8
psycopg2-binary
pythonping
feedparser
html2text
spotdl
pickledb
pytz
pafy
gtts
bs4
lxml
demjson
wget
bs4
telegraph
pillow
psutil
speedtest-cli>=2.0.2
googletrans
youtube-dl
wikipedia
spamwatch
bleach
git+https://github.com/TomyPrs/python-markdown2.git
alphabet_detector
tswift
covid
hurry.filesize
fontTools
bing_image_downloader
instantmusic
